@charset "utf-8";
/* iframe style document */
body{ background-color: #f1f1f1; font-family: 'Microsoft Yahei'; min-width: 1000px; }
input,textarea,select,button{ font-family: 'Microsoft Yahei'; }
.link{ color: #06c; text-decoration: underline; }
/*
** side 
*/
.aside-left{  position: fixed; top: 0; left: 0; float: left; width: 200px; padding:20px; border-right:1px solid #ccc; background-color: #fff; }

/* form */
.form-filter{ margin-bottom: 20px; }
.form-filter .form-item{ height: 30px; line-height: 30px; margin-bottom: 5px; }
.form-filter .form-item label{ float: left; width: 7em; height: 30px; line-height: 30px; text-align: right; }
.form-filter .form-item input{ width: 100px; height: 18px; padding:2px;
}
/* tab */
.tab{ height: 30px; padding-left: 10px; border-bottom: 1px solid #ccc; margin-bottom: 20px;}
.tab li{ float: left; height: 30px; line-height: 30px; padding:0 10px; background-color: #fff; color: #999; font-size: 13px; cursor: pointer; }
.tab li:hover{ color: #666; }
.tab li.active{ position: relative; top: 0; border:1px solid #ccc; border-radius: 3px 3px 0 0; border-bottom: 0; color: #333; }

/* abstract */
.abstract{ padding:10px; border:1px solid #FBEED5; border-radius: 3px; background-color: #FCF8E3; color: #c09853;}
.abstract p{ margin-bottom: 5px; }

/* container */
.container{ margin-left: 240px; padding:20px;}
.doc-tt{ padding:0 10px; height: 30px; line-height: 30px; }
.doc-code{ display: block; width: 95%; padding:10px; border:1px solid #e1e1e8; border-radius:5px; margin:0 10px; background-color: #f7f7f9; font-size: 13px; line-height: 20px; color: #333; font-family: 'Microsoft Yahei';}
.doc-ft{ height: 30px; line-height: 30px; padding:0 10px; }


.doc-intro h1{ height: 40px; line-height: 40px; margin-bottom: 10px; color: #333; font-size: 28px;}
.doc-intro p{ line-height: 24px;}
.grid{ position:relative; padding:20px 0; }
.grid h3{ height: 16px; line-height: 16px; border-left: 3px solid #666; margin-bottom: 8px; text-indent: 5px; font-size: 14px; color: #333;}
.grid .grid-sizer,
.grid .col-4 { width: 320px; padding-right:15px;}
.grid .col-4{ float: left; }
.table {
	margin-bottom:20px;
	background-color: #FFF;
	border-spacing:0;
	border: 1px solid #DDDDDD;
  	border-collapse: separate;
	border-left:0;
	border-top:0;
	border-spacing:0;
	color:#666;
	text-align:center;
	table-layout: fixed;
}

.table thead,.table th{
	background-color:#EEEEEE;
	color: #404040;
}
.table th, .table td {
  padding:6px 8px;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-left:1px solid #ddd;
  vertical-align:middle;
}
.table th{
	padding:8px 10px;
	border-bottom: 0;
	text-align: center;
	border-left: 1px solid #ddd;
}
.table tbody tr:nth-child(even){
	background-color:#F8F8F8;
}
.table tbody tr:hover{
	background-color:#FFFFCC;
}

cite{ border-bottom: 1px dotted #666; }