<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>form表单</title>
	<link href="/static/style/reset.css" rel="stylesheet">
<style>
body{ background-color: #f1f1f1; font-family: 'Microsoft Yahei'; padding:20px; }
.m-tpb{ height: 30px; line-height: 30px; background-color: #f8f8f8; border-bottom: 1px solid #ddd; color: #404040; }
.m-tpb .tpb-l{ float: left; }
.m-tpb .tpb-r{ float: right; padding:3px 0; }
.u-log-qq,
.u-log-qq img{ display: block; width: 120px; height: 24px; }
</style> 
</head>
<body>
<div class="header">
	<div class="m-tpb">
		<p class="tpb-l">欢迎来到TTX_UI！</p>
		<div class="tpb-r"><a class="log-qq" href="#"><img src="img/login_qq.png" width="120" height="24" alt="使用QQ登录" /></a></div>
	</div>
	<div></div>
</div>
</body>
</html>